@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome all to this sample video</h1>
    <p>Hello, world</p>

    <p>This is a new section of the application</p>
</div>
